  body {
    background-color: #2d2b3f;
    text-align: center;
    font-family: Garamond;
    font-size: 18px;
  }
  h1 {
    font-family: Arial;
  }
  table, th, td {
    color: #b6b6b6;
    margin-left: auto;
    margin-right: auto;
  }
  .formtable {
    text-align: right;
  }
  .forminfo {
    text-align: center;
  }
  .forminput {
    text-align: left;
  }
  .footer {
    color: #1E202C;
  }
  .restable {
    border: 2px solid;
    text-align: left;
  }
  .githublink {
    width: 35px;
    height: 35px;
  }